::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: slategrey;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(248, 241, 241);
  border-radius: 2px;
}